<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>eventboard</display-name>
  <filter>
    <display-name>ExpiraSesionFiltro</display-name>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <filter-class>controlador.filtros.ExpiraSesionFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/Menu.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/agregar_hotel.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarHotelServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/listado_hoteles.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EditarHotelServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/agregar_tipo_terminal.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarTipoTerminalServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/listado_tipos_terminales.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EditarTipoTerminalServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/agregar_usuario.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/listado_usuarios.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarUsuarioServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EditarUsuarioServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/agregar_salon.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarSalonServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/listado_salones.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EditarSalonServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EliminarSalonServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/agregar_tipo_evento.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarTipoEventoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/listado_tipos_eventos.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EditarTipoEventoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/agregar_evento.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarEventoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/listado_eventos.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EditarEventoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EliminarEventoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/agregar_terminal.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarTerminalServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/listado_terminales.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/editar_imagenes_salon.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarImagenSalonServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/editar_imagenes_evento.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarImagenEventoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/editar_imagenes_hotel.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarImagenEventoServlet</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/eventboard</taglib-uri>
      <taglib-location>/WEB-INF/tlds/reportes.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>